.App {
  text-align: center;
}

.App-header {
  background-color: #148896;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

button {
  color: aqua;
}